/*Aplicou estilos básicos ao corpo da página*/
#Alinhar{
    font-family: Poppins sans-serif;/*Define a fonte padrão*/
    background: linear-gradient(to bottom, #fffdf4 , #8d7775);/*Degradê como "pano de fundo" da pág.*/
    color: #333;/*Define a cor do texo*/
    line-height: 1.6;/*Define o espaçamento entre as linhas*/
    padding: 20px;/*Espaçamento interno das bordas*/
    
}
/*Estilos do título principal da página*/
h1{
    text-align: center;/*Centraliza o texto*/
    color: #ff6f61;/*Aplica cor laranja*/
    font-size: 3rem;/*Altera o tamnho*/
    margin-bottom: 30px;/*Espaço abaixo do título*/
    margin-top: 100px;
}
/*Estilos para os subtítulos h3 e h4*/
h3,h4{
    color: #00796b;/*Cor da letra/fonte*/
    margin-top: 20px;/*Espaço superior entre as seções*/
}
/*Estilo para todas as imagens*/
img{
    width: 100%;/*Ocupa 100% da largura do elemento em que ela está*/
    max-width: 300px;/*Limiete de largura*/
    height: auto;/*Manter a proporção*/
    border-radius: 12px;/*Bordas arredondadas*/
    margin: 10px 0px;/*Espaço acima e abaixo entre a img e o conteúdo*/
}
/*Estilizando os links*/
a{
   color: #b61010;/*Cor da letra/fonte*/
   text-decoration: none;/*Remove o traçado do link*/
}
/*Evento hover nos links*/
a:hover{
    text-decoration: underline;/*Add um traço abaixo do link quando o mouse estiver sobre ele*/
}
/*Estilizar todas as listas (ol, li)
cor de fundo, espaço interno, bordas arredondadas*/
ol,ul{
    background-color: rgb(161, 172, 172);/*Cor de fundo*/
    padding: 30px;/*Espaçamento interno*/
    border-radius: 10px;/*Arredondamento de bordas*/
}
/*Estilo da Tabela*/
table{
    width: 100%;/*Ocupa 100% da alrgura do elemento no qual ela está inserida*/
    border-collapse: collapse;/*Juntar as bordas da tabela*/
    margin-top: 20px;/*Espaço acima da tabela*/
}
table td{
    border: 1px solid #605f5f;/*Borda de 1 pixel de largura, linha contínua e cor*/
    /*Espaçamaneo interno, alinha o texto no centro e atribuir uma cor de fundo*/
    padding: 5px;
    text-align: center;
    background-color: rgb(148, 194, 234);
}
/*Estilizando os cards*/
.card{
    background-color: #d5d0d0;/*Cor de fundo branco*/
    border-radius: 15px;/*Arredondar bordas*/
    margin:20px auto;/*Espaçamento*/
    overflow: hidden;/*Ocultar o que passar dos limites do card*/
    display: inline-block;/*Coloca os cards lado a lado*/
    vertical-align: top;/*Alinha os cards pelo topo*/
    height: 320px;/*Define altura para os cards*/
    transition: transform 0.3s ease;/*Animação na interação com os cards*/
}
.card:hover{
    transform: scale(1.03);/*Aumento em 3% o tamanho do card*/
}
/*Estilizar dos títulos do card*/
.card-title{
    font-size: 1.5rem;/*Modificando o tamanho*/
    color: #00695c;/*Atribuindo nova cor*/
    margin-bottom: 10px;/*Espaço abaixo do título*/
    text-align: center;
    /*margin-left: 10px; Espaço à esquerda do título*/
}
/*Estlizar o parágrafo*/
.card-text{
    margin-left: 10px;
    color: 444;
}
/*Ajustando a imagem*/
.card-img-top{
    width: 40%;
    height: 30%;
}
.btn-primary{
    background-color: #009688;/*Cor de fundo*/
    color: white;/*Cor da letra*/
    padding: 10px 16px;/*Espaço interno na horizontal e vertical*/
    border-radius: 8px;/*Arredondar as bordas*/
    text-align: center;/*Centralizar o texto*/
    margin-left: 10 px;/*Espaço externo entre as bordas do botão e o limite do card*/
}
.btn-primary:hover{
    background-color: #b61010;/*mudando a cor do botão ao deixar o cursos em cima do elemento*/
    text-decoration: none;/*Retirando o traçado do link*/
}
/*Responsividade*/
/*Telas Pequenas*/
@media(max-width:768px){
    .card{
        width: 90%;
        margin: 20px auto;
    }
}
.icon-menu{
    display: flex;/*Alinhar os itens horizontalmente*/
    justify-content: space-around;/*Distribuir o espaçamento de forma linear (igual) entre eles*/
    background: linear-gradient(to right, rgb(87, 87, 227),rgb(149, 149, 206));/*Cor de fundo do menu com degradê*/
    padding: 15px;/*Espaço interno entre os itens do menu*/
    position: fixed;/*Fixa o menu na tela na sua posição original, no caso na horizontal*/
    width: 100%;
    z-index: 1000;/*Garante a sobreposição do menu em relação aos outros itens da tela*/
    margin-right: 100px;
}
.icon-menu a{
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;/*Ajusta o tamanho da fonte*/
    transition: transform 0.5s ease;/*Transição para suavizar*/
}
.icon-menu a:hover{
    transform: scale(1.1);/*Aumenta o tamanho do elemento no nosso caso em 10%*/
}
#carrossel-Slides{
    width: 80%;
}
#carousel-indicators{
    background-color: #fffdf4;
}
.calculadora{
    text-align: center;
}